USE [master]
GO
/****** Object:  Database [Adega]    Script Date: 17/10/2016 01:02:34 ******/
CREATE DATABASE [Adega]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Adega', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Adega.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Adega_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Adega_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Adega].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Adega]
GO
/****** Object:  Table [dbo].[Bebidas]    Script Date: 17/10/2016 01:02:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Bebidas](
	[id] [int] NOT NULL,
	[Nome] [varchar](50) NULL,
	[Preço] [real] NULL,
	[Fornecedor] [int] NULL,
	[Descricao] [varchar](50) NULL,
	[Quantidade] [int] NULL,
 CONSTRAINT [PK_Bebidas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 17/10/2016 01:02:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cliente](
	[id] [int] NOT NULL,
	[Nome] [varchar](50) NULL,
	[Endereco] [varchar](50) NULL,
	[Cidade] [varchar](50) NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Fornecedor]    Script Date: 17/10/2016 01:02:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Fornecedor](
	[id] [int] NOT NULL,
	[Nome] [varchar](50) NULL,
	[Empresa] [varchar](50) NULL,
	[Cidade] [varchar](50) NULL,
 CONSTRAINT [PK_Fornecedor] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Bebidas] ([id], [Nome], [Preço], [Fornecedor], [Descricao], [Quantidade]) VALUES (1, N'catuaba', 5, 1, NULL, 20)
INSERT [dbo].[Cliente] ([id], [Nome], [Endereco], [Cidade]) VALUES (1, N'igor', N'dapskpdok', N'Assis')
INSERT [dbo].[Fornecedor] ([id], [Nome], [Empresa], [Cidade]) VALUES (1, N'andre', N'jujuba ltda', N'São Paulo')
ALTER TABLE [dbo].[Bebidas]  WITH CHECK ADD  CONSTRAINT [FK_Bebidas_Fornecedor] FOREIGN KEY([Fornecedor])
REFERENCES [dbo].[Fornecedor] ([id])
GO
ALTER TABLE [dbo].[Bebidas] CHECK CONSTRAINT [FK_Bebidas_Fornecedor]
GO
USE [master]
GO
